@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300&display=swap');

:root {
	--color-background: white;
	--color-accent: #ff7300;
	--color-low-contrast: #888888;
	--color-high-contrast: #444444;

	/* --color-background: #333333;
	--color-accent: #5777c0;
	--color-low-contrast: #999999;
	--color-high-contrast: #dddddd; */

	--content-margin: 2rem;
	--font-size-smaller: 87.5%;
}

body {
	background-color: var(--color-background);
	color: var(--color-high-contrast);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

h1 {
	color: var(--color-accent);
	font-weight: 200;
	letter-spacing: -0.045em;
	line-height: 100%;
	margin: -0.09em 0 0 -0.09em;
	max-height: 6rem;
	text-transform: uppercase;
	--canvas-measure-compensation: 0.94;
}

h2 {
	color: var(--color-low-contrast);
	font-size: 133%;
	font-weight: 300;
	text-transform: uppercase;
	white-space: nowrap;
}

header {
	margin-top: var(--content-margin);
}

section {
	margin-bottom: var(--content-margin);
}

.candidate-component > div {
	display: inline-block;
}

.candidate-component > div > ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

.candidate-component > div > ul > li {
	font-size: var(--font-size-smaller);
	margin-right: var(--content-margin);
}

.candidate-contact-service-component a {
	color: var(--color-high-contrast);
	white-space: nowrap;
}

.candidate-contact-service-component a > i {
	color: var(--color-low-contrast);
	margin-right: 0.25rem;
}

.mission-component p {
	text-align: justify;
}

.skill-ratings-chart-component {
	font-size: var(--font-size-smaller);
	line-height: 133%;
}

.skill-ratings-chart-component g.bars rect {
	fill: var(--color-accent);
}

.skill-ratings-chart-component g.x-grid {
	opacity: 0.5;
}

.skill-ratings-chart-component g.x-grid polyline {
	stroke: var(--color-low-contrast);
}

.skill-ratings-chart-component g.x-labels {
	fill: var(--color-low-contrast);
	font-style: italic;
}

.skill-ratings-chart-component g.y-labels {
	fill: var(--color-high-contrast);
}

section#experience {
	height: 100%;
}

.experience-timeline-component {
	height: 100%;
}

.experience-timeline-component g.year-grid {
	opacity: 0.1;
}

.experience-timeline-component g.year-grid rect.dark {
	fill: var(--color-low-contrast);
}

.experience-timeline-component g.year-grid rect.light {
	fill: none;
}

.experience-timeline-component g.year-labels {
	fill: var(--color-low-contrast);
	font-size: var(--font-size-smaller);
}
