body {
	color: #333333 !important;
	font-weight: 300;
}

h1 {
	color: #ff7300;
	font-size: 4.5rem;
	font-weight: 200;
	line-height: 0.9;
	margin-bottom: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 1.25rem;
	font-weight: 300;
	text-transform: uppercase;
	white-space: nowrap;
}

header {
	margin-top: 2rem;
}

section {
	margin-bottom: 2rem;
}

.candidate-component > div {
	display: inline-block;
}

.candidate-component ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

.candidate-component li:not(:last-child) {
	margin-right: 1rem;
}

.candidate-component a {
	color: #666666;
	white-space: nowrap;
}

.mission-component p {
	text-align: justify;
}

.skill-ratings-chart-component {
	font-size: 87.5%;
	line-height: 125%;
}

g.bars rect {
	fill: #ff7300;
}

g.x-grid {
	opacity: 0.5;
}

g.x-grid polyline {
	stroke: #666666;
}

g.x-labels text {
	fill: #666666;
	font-style: italic;
	font-weight: 300;
}

g.y-labels text {
	font-weight: 300;
}
