@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;1,300&display=swap');

:root {
	--color-background: white;
	--color-accent: #ff7300;
	--color-low-contrast: #888888;
	--color-high-contrast: #444444;

	/* --color-background: #333333;
	--color-accent: #5777c0;
	--color-low-contrast: #999999;
	--color-high-contrast: #dddddd; */

	--content-margin: 2rem;
	--font-size-smaller: 87.5%;
	--font-weight-light: 200;
	--font-weight-normal: 300;
	--font-weight-bold: 400;
}

body {
	background-color: var(--color-background);
	color: var(--color-high-contrast);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: var(--font-weight-normal);
}

h1 {
	color: var(--color-accent);
	font-weight: var(--font-weight-light);
	letter-spacing: -0.045em;
	line-height: 100%;
	margin: -0.09em 0 0 -0.09em;
	max-height: 6rem;
	text-transform: uppercase;
	--canvas-measure-compensation: 0.94;
}

h2 {
	font-size: 133%;
	font-weight: var(--font-weight-light);
	text-transform: uppercase;
	white-space: nowrap;
}

header {
	margin-top: var(--content-margin);
}

section {
	margin-bottom: var(--content-margin);
}

.candidate-component > div {
	display: inline-block;
}

.candidate-component > div > ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
}

.candidate-component > div > ul > li {
	font-size: var(--font-size-smaller);
	margin-right: var(--content-margin);
}

.candidate-contact-service-component a {
	color: var(--color-high-contrast);
	white-space: nowrap;
}

.candidate-contact-service-component a > i {
	color: var(--color-low-contrast);
	margin-right: 0.25rem;
}

.mission-component p {
	text-align: justify;
}

.interests-honeycomb-component g[data-cluster='Analytical Pursuits'] {
	transform: translate(-0.5rem, 0);
}

.interests-honeycomb-component g[data-cluster='Creative Interests'] {
	transform: translate(0.5rem, 0);
}

.interests-honeycomb-component g.hexagons {
	opacity: 0.75;
	/* stroke: var(--color-background);
	stroke-width: 0.125rem; */
}

.interests-honeycomb-component g.hexagons[data-cluster='Analytical Pursuits'] {
	fill: var(--color-accent);
}

.interests-honeycomb-component g.hexagons[data-cluster='Analytical Pursuits'] .cluster {
	fill: none;
	stroke: var(--color-accent);
	stroke-width: 0.25rem;
}

.interests-honeycomb-component g.labels[data-cluster='Analytical Pursuits'] .cluster {
	fill: var(--color-accent);
	text-transform: uppercase;
}

.interests-honeycomb-component g.hexagons[data-cluster='Creative Interests'] {
	fill: var(--color-low-contrast);
}

.interests-honeycomb-component g.hexagons[data-cluster='Creative Interests'] .cluster {
	fill: none;
	stroke: var(--color-low-contrast);
	stroke-width: 0.25rem;
}

.interests-honeycomb-component g.labels[data-cluster='Creative Interests'] .cluster {
	text-transform: uppercase;
	fill: var(--color-low-contrast);
}

.interests-honeycomb-component g.labels {
	fill: var(--color-background);
	text-transform: lowercase;
}

.skill-ratings-chart-component {
	font-size: var(--font-size-smaller);
	line-height: 133%;
}

.skill-ratings-chart-component g.bars rect {
	fill: var(--color-accent);
}

.skill-ratings-chart-component g.x-grid {
	opacity: 0.5;
}

.skill-ratings-chart-component g.x-grid polyline {
	stroke: var(--color-low-contrast);
}

.skill-ratings-chart-component g.x-labels {
	fill: var(--color-low-contrast);
	font-style: italic;
}

.skill-ratings-chart-component g.y-labels {
	fill: var(--color-high-contrast);
}

section#experience {
	height: 100%;
}

.experience-timeline-component {
	height: 100%;
}

.experience-timeline-component g.year-grid {
	opacity: 0.1;
}

.experience-timeline-component g.year-grid rect.dark {
	fill: var(--color-low-contrast);
}

.experience-timeline-component g.year-grid rect.light {
	fill: none;
}

.experience-timeline-component g.year-labels {
	fill: var(--color-low-contrast);
	font-size: var(--font-size-smaller);
}
