@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,300&display=swap');

:root {
	--color-background: white;
	--color-accent: #ff7f00;
	--color-low-contrast: #888888;
	--color-high-contrast: #444444;

	/* --color-background: #333333;
	--color-accent: #5777c0;
	--color-low-contrast: #999999;
	--color-high-contrast: #dddddd; */

	/* Font family name variations are used instead of font weights due to a limitation of
	CanvasRenderingContext2D.measureText(). */
	--font-family-normal: 'Source Sans Pro Light', sans-serif;
	--font-family-light: 'Source Sans Pro Extralight', sans-serif;

	--font-size-larger: 112.5%;
	--font-size-smaller: 87.5%;
}

body {
	background-color: var(--color-background);
	color: var(--color-high-contrast);
	font-family: var(--font-family-normal);
}

h1 {
	--measure-text-compensation-factor: 0.97;
	color: var(--color-accent);
	font-family: var(--font-family-light);
	font-size: 200%;
	letter-spacing: -0.045em;
	line-height: 100%;
	margin: -0.09em 0 0 -0.09em;
	max-height: 82px;
	text-transform: uppercase;
}

h2 {
	font-size: 133%;
	font-family: var(--font-family-light);
	text-transform: uppercase;
	white-space: nowrap;
}

.candidate-contact-service-component {
	font-size: var(--font-size-smaller);
}

.candidate-contact-service-component a {
	color: var(--color-high-contrast);
}

.candidate-contact-service-component a > i {
	color: var(--color-low-contrast);
	margin-right: 0.25rem;
}

.mission-component p {
	font-size: var(--font-size-larger);
	font-style: italic;
	text-align: justify;
}

/* Make all hexagons slightly transparent. */
.interests-hexgrid-component g.hexagons {
	opacity: 0.85;
}

/* Fill the hexagons according to the cluster they inhabit. */
.interests-hexgrid-component g.hexagons g.cluster:nth-of-type(1) {
	fill: var(--color-accent);
}
.interests-hexgrid-component g.hexagons g.cluster:nth-of-type(2) {
	fill: var(--color-low-contrast);
}

/* Give a default style to all labels. */
.interests-hexgrid-component g.labels {
	color: var(--color-background);
	fill: var(--color-background);
	line-height: 112.5%;
	text-transform: lowercase;
}

/* Style cluster-name hexagons and their labels distinctly. */
.interests-hexgrid-component g.hexagons g.hexagon.cluster-name path:nth-of-type(2) {
	fill: var(--color-background);
}
.interests-hexgrid-component g.labels g.cluster:nth-of-type(1) g.label.cluster-name {
	color: var(--color-accent);
	fill: var(--color-accent);
	text-transform: uppercase;
}
.interests-hexgrid-component g.labels g.cluster:nth-of-type(2) g.label.cluster-name {
	color: var(--color-low-contrast);
	fill: var(--color-low-contrast);
	text-transform: uppercase;
}

/* Apply some transformations for added visual interest:
   - rotate the whole diagram 15 degrees, and then compensate the labels so they remain horizontal
   - separate the two clusters a little bit
*/
.interests-hexgrid-component g.root {
	transform: rotate(15deg) scale(0.95) translateY(1rem);
	transform-origin: center;
}
.interests-hexgrid-component g.label {
	transform: rotate(-15deg);
	transform-origin: center;
	transform-box: fill-box;
}
.interests-hexgrid-component g.cluster:nth-of-type(1) {
	transform: translate(-0.5rem, 0);
}
.interests-hexgrid-component g.cluster:nth-of-type(2) {
	transform: translate(0.5rem, 0);
}

.skill-ratings-chart-component {
	font-size: var(--font-size-smaller);
	line-height: 133%;
}

.skill-ratings-chart-component g.bars rect {
	fill: var(--color-accent);
}

.skill-ratings-chart-component g.x-grid {
	opacity: 0.5;
}

.skill-ratings-chart-component g.x-grid polyline {
	stroke: var(--color-low-contrast);
}

.skill-ratings-chart-component g.x-labels {
	fill: var(--color-low-contrast);
	font-style: italic;
}

.skill-ratings-chart-component g.y-labels {
	fill: var(--color-high-contrast);
}

section#experience {
	height: 100%;
}

.experience-timeline-component {
	height: 100%;
}

.experience-timeline-component g.year-grid {
	opacity: 0.1;
}

.experience-timeline-component g.year-grid rect.dark {
	fill: var(--color-low-contrast);
}

.experience-timeline-component g.year-grid rect.light {
	fill: none;
}

.experience-timeline-component g.year-labels {
	fill: var(--color-low-contrast);
	font-size: var(--font-size-smaller);
}
